{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container px-4 p-5 m-5">
    <dir class="bg-light p-2 list-inline d-flex justify-content-between">
        <h5 class="text-success list-inline-item">Invoce: 00{{order_title.invoce}}-SO</h5>
        <h5 class="text-success list-inline-item">Car: {{order_title.car_brand}} {{order_title.car_model}}</h5>
        <h5 class="text-success list-inline-item">{{order_title.date}}</h5>  
    </dir>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">CODE</th>
              <th scope="col">quantity</th>
            </tr>
          </thead>
          <tbody>
  
            {% for item in orderItem %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.product}}</td>
              <td>{{item.serial}}</td>
              <td>{{item.quantity}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  
{% endblock content %}